@model ASPCarShowRoom.Models.Equipment

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурен ли си, че искаш да изтриеш това оборудване?</h3>
<div>
    <h4>Оборудване</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Име
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Вид оборудване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEquipments.Name)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Снимка
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Image)" width="100px" />
        </dd>
        <dt class = "col-sm-2">
            Дата на създаване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Върни се в списъка</a>
    </form>
</div>
