@model IEnumerable<ASPCarShowRoom.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Оборудване</h1>

<p>
    <a asp-action="Create">Създай</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Вид оборудване
            </th>
            <th>
                Описание
            </th>
            <th>
                Снимка
            </th>
            <th>
                Дата на добавяне
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeEquipments.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" width="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
