@model ASPCarShowRoom.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурен ли си, че искаш да изтриеш този автомобил?</h3>
<div>
    <h4>Автомобил</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Модел
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Година
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            Оборудване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipments.Name)
        </dd>
        <dt class = "col-sm-2">
            Нов?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt class = "col-sm-2">
            Вид гориво
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelTypes.Name)
        </dd>
        <dt class = "col-sm-2">
            Мощност
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            Ускорение
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acceleration)
        </dd>
        <dt class = "col-sm-2">
            Снимка
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Image)" width="100px" />
        </dd>
        <dt class = "col-sm-2">
            Цена
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Дата на създаване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index">Върни се в списъка</a>
    </form>
</div>
